<h1><%= data.title %></h1>

<div class="post-container">
  <!-- <% if (data.image) { %>
    <div class="post-image">
      <img src="/<%= data.image %>" alt="<%= data.title %>" class="post-img" />
    </div>
  <% } %> -->

  <article class="article">
    <%= data.body %>
  </article>
</div>
